---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import type { Link } from './Link';
import data from './links.json';


---

<Layout title="New Tab">
    <main>
        <ul role="list" class="link-card-grid">
            {Object.entries(data).map(([key, item]: [string, Link]) => (
                <Card
                    href={item.url}
                    title={item.title}
                    body={item.body}
                />
            ))}

        </ul>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
        color: white;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>
