---
export interface Props {
  href: string;
  title?: string;
  body?: string;
}

const { href, title, body } = Astro.props;

const removeProtocol = (url: string) => {
  return url.replace(/(^\w+:|^)\/\//, '');
};
---

<li>
  <a class="link-card" href={href}>
    <img
      class="favicon"
      src={`https://www.google.com/s2/favicons?domain=${href}&sz=256`}
      alt=""
    />
    <div class="link-info">
      <h3 class="title">
        {title ? title : removeProtocol(href)}
      </h3>
      <p class="description">
        {body ? body : title ? removeProtocol(href) : ''}
      </p>
    </div>
  </a>
</li>

<style>
  .link-card {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    background-color: #222;
    background-image: none;
    background-size: 400%;
    border-radius: 0.35rem;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }
  h3 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: #555;
  }
  .link-info {
    max-width: 80%;
  }
  .title,
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
  .link-card:is(:hover, :focus-within) h3 {
    color: rgb(var(--accent));
  }
  .favicon {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    align-items: center;
    margin: 0.5rem;
  }
</style>
